@media (min-width: 300px) and (max-width: 991px){
    #grid{
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer" 
        ;
        grid-template-rows: auto;
        grid-template-columns: auto;
        
    }
}
@media (min-width: 992px) {
    #grid{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer" 
        ;
        grid-template-rows: auto auto 100px;
        grid-template-columns: auto;
    }
    .notificacion{
        background: #564787;
        color: #fff;
    }
    .notificacion-1{
        background: #e63946;
        color: #fff;
    }
}