@media (min-width: 300px) and (max-width: 991px){
    #grid{
        display: grid;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer" 
        ;
        grid-template-rows: auto auto auto 150px;
        grid-template-columns: auto;
        
    }
    .notificacion{
        background: #E55812;
        color: #fff;
        border-radius: 10px;
    }
    .notificacion-1{
        background: #e63946;
        color: #fff;
        border-radius: 10px;
    }
}
@media (min-width: 992px) {
    #grid{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer" 
        ;
        grid-template-rows: auto auto auto 150px;
        grid-template-columns: auto;
    }
    .notificacion{
        background: #6B9080;
        color: #fff;
    }
    .notificacion-1{
        background: #e63946;
        color: #fff;
    }
}