@import url('https://fonts.googleapis.com/css2?family=Tiro+Kannada:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}

@import "grid";
@import "utilities/mixins";
@import "utilities/colors";
@import "layouts/productos";

body {
    background-color: map-get($colors, bg);
    font-family: 'Montserrat', sans-serif;
}

ul li {
    list-style-type: none;

    a {
        text-decoration: none;
        color: map-get($colors, detalles);
    }
}

header {
    grid-area: header;
    width: 100%;
    height: 300px;
    color: map-get($colors, nav);
    
    .portada {
        width: auto;
        background: rgba(0, 0, 0, 0.5) url("/assets/img/_DSC0212.JPG");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;


    }
    nav {
        padding-left: 130px;
        padding-right: 130px;
        ul{
            width: auto;
            @include flex-row-between;
            a {
                text-decoration: none;
                color: map-get($colors, nav);
            }
        }
    }
    
    .title{
        padding-left: 130px;
        padding-right: 130px;
        @include flex-row-center;
        font-family: "Tiro Kannada", serif;
        font-size: 30px;
    }
}


main {
    grid-area: main;
    padding-left: 130px;
    padding-right: 130px;

    h2{
        @include flex-row-center;
    }
    
    
}

footer {
    grid-area: footer;
    background-color: map-get($colors, fondo);
}