@import url('https://fonts.googleapis.com/css2?family=Tiro+Kannada:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

@import "grid";
@import "utilities/mixins";
@import "utilities/colors";
@import "layouts/productos";
@import "layouts/carrito";
@import "layouts/sesion";

body {
    background-color: map-get($colors, bg);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

@media (min-width: 300px) and (max-width: 991px) {
    header {
        grid-area: header;
        width: 100%;
        height: auto;
        color: map-get($colors, nav);
        
        .portada {
            width: auto;
            background: rgba(0, 0, 0, 0.5) url("../img/portada.JPG");
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            @include flex-column-center;

            .title {
                font-family: "Tiro Kannada", serif;
                font-size: 30px;
            }
        }
    }
    .navegation {
        grid-area: nav;
        background-color: map-get($colors, nav );
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .btn-nav{
            position: absolute;
            top: .75rem;
            right:  1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;
            
            .bar{
                height: 3px;
                width: 100%;
                background-color: map-get($colors, detalles-2);
                border-radius: 10px;
            }
        }
        .navbar-links{
            display: none;
            width: 100%;
            ul {
                width: 100%;
                @include flex-column-evenly;
                padding: 10px 0px;
                li{
                    list-style-type: none;
                    text-align: center;
                    padding: 5px 0;
                    a {
                        width: auto;
                        text-decoration: none;
                        color: map-get($colors, titulos);
                    }
                    .sesion{
                        display: flex;
                        flex-flow: row nowrap;
                        color: map-get($colors, titulos);
    
                        .btn-inicio{
                            margin-left: 5px;
                            border: none;
                            background-color: #fff;
                            cursor: pointer;
                            font-size: 16px;
                            color: map-get($colors, titulos);
                            
                            &:hover{
                                color: map-get($colors, compras);
                            }
                        }
                        
                    }
                    &:hover{
                        color: map-get($colors, compras);
                    }
                }   
            }
            
        }
        .navbar-links.active {
            display: flex;
        }
    }
    main {
        grid-area: main;
        padding: 0 25px;
        h2 {
            @include flex-row-center;
            padding: 20px 0 ;
            color: map-get($colors, titulos );
        }
    }

    footer {
        grid-area: footer;
        background-color: #fff;

        .footerContainer{
            height: 100%;
            padding: 0 150px ;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            h4{
                font-size: 24px;
                color: map-get($colors, detalles-2);
            }
        }
        
    }
}


@media (min-width: 992px) {

    header {
        grid-area: header;
        width: 100%;
        height: auto;
        color: map-get($colors, nav);
        
        .portada {
            width: auto;
            background: rgba(0, 0, 0, 0.5) url("../img/portada.JPG");
            height: 250px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            @include flex-column-center;

            .title {
                font-family: "Tiro Kannada", serif;
                font-size: 30px;
            }
        }
    }

    .navegation {
        grid-area: nav;
        padding-left: 130px;
        padding-right: 130px;
        background-color: map-get($colors, nav );
        position: sticky;
        top: 0;
        z-index: 1;
        
       
        ul {
            width: 100%;
            @include flex-row-evenly;
            padding: 20px 0;
            li{
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: map-get($colors, titulos);
                    &:hover{
                        color: map-get($colors, compras);
                    }
                }
                .sesion{
                    display: flex;
                    flex-flow: row nowrap;
                    color: map-get($colors, titulos);
                    align-items: center;
                    
                    .btn-inicio{
                        margin-left: 5px;

                        border: none;
                        background-color: #fff;
                        cursor: pointer;
                        font-size: 16px;
                        color: map-get($colors, titulos);
                        
                        &:hover{
                            color: map-get($colors, compras);
                        }
                    }
                }
            }
        }
    }
    main {
        grid-area: main;
        padding-left: 150px;
        padding-right: 150px;
        
        h2 {
            @include flex-row-center;
            padding: 20px 0 ;
            color: map-get($colors, titulos );
        }
        .compras{
            margin: 15px 0;
        }
    }

    footer {
        grid-area: footer;
        background-color: #fff;

        .footerContainer{
            height: 100%;
            padding: 0 150px ;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            h4{
                font-size: 24px;
                color: map-get($colors, detalles-2);
            }
        }
    }
}