.productos_carrito {
    width: 100%;
    height: auto;
    @include flex-column-between;

    .cards_carrito {
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: #fff;
        filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));


        .info_producto {
            width: 200px;
            @include flex-row-between;
            align-items: center;

            .foto_carrito {
                width: 50px;
                height: 50px;
                border-radius: 7px;

                .imagen {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        .btn-eliminar {
            width: 75px;
            height: 30px;

            color: #fff;
            border: none;
            background-color: map-get($colors, eliminar);
            border-radius: 5px;
        }

    }
}
.total{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    .btn-calculo{
        width: 75px;
        height: 30px;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        margin-left: 15px;
    }
}
.cuotas{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    input{
        width: 75px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
    }
    .btn-pagar{
        width: 75px;
        height: 30px;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        margin-left: 15px;
    }
}