@import url("https://fonts.googleapis.com/css2?family=Tiro+Kannada:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0; }

@media (min-width: 300px) and (max-width: 991px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto;
    grid-template-columns: auto; } }

@media (min-width: 992px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto auto 100px;
    grid-template-columns: auto; } }

.filtros {
  display: inline-block;
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); }

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 20px;
  justify-content: space-between; }
  .cards .card {
    width: 200px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); }
    .cards .card .foto_producto {
      width: 100%;
      height: 175px; }
      .cards .card .foto_producto .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .cards .card .card_body {
      margin-top: 5px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .cards .card .card_body input {
        width: 75px;
        height: 30px;
        border: none;
        background-color: #eee;
        border-radius: 5px; }
      .cards .card .card_body button {
        width: 75px;
        height: 30px;
        margin-top: 5px;
        color: #fff;
        border: none;
        background-color: #6B9080;
        border-radius: 5px; }

body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif; }

ul li {
  list-style-type: none; }
  ul li a {
    text-decoration: none;
    color: #6B9080; }

header {
  grid-area: header;
  width: 100%;
  height: 300px;
  color: #fff; }
  header .portada {
    width: auto;
    background: rgba(0, 0, 0, 0.5) url("/assets/img/_DSC0212.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken; }
  header nav {
    padding-left: 130px;
    padding-right: 130px; }
    header nav ul {
      width: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      header nav ul a {
        text-decoration: none;
        color: #fff; }
  header .title {
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: "Tiro Kannada", serif;
    font-size: 30px; }

main {
  grid-area: main;
  padding-left: 130px;
  padding-right: 130px; }
  main h2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }

footer {
  grid-area: footer;
  background-color: #6B9080; }
