@import url("https://fonts.googleapis.com/css2?family=Tiro+Kannada:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0; }

@media (min-width: 300px) and (max-width: 991px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto;
    grid-template-columns: auto; } }

@media (min-width: 992px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto auto 100px;
    grid-template-columns: auto; } }

.seccion_productos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .seccion_productos .filtros {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); }
    .seccion_productos .filtros h3 {
      font-size: 15px; }
    .seccion_productos .filtros .btn-filtro {
      width: 75px;
      height: 30px;
      border: none;
      background-color: #fff;
      border-radius: 5px; }
    .seccion_productos .filtros .btn-filtro:hover {
      color: #90be6d; }
  .seccion_productos .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 25px;
    justify-content: space-around; }
    .seccion_productos .cards .card {
      width: 200px;
      height: auto;
      padding: 10px;
      border-radius: 15px;
      background-color: #fff;
      filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); }
      .seccion_productos .cards .card .foto_producto {
        width: 100%;
        height: 175px; }
        .seccion_productos .cards .card .foto_producto .imagen {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px; }
      .seccion_productos .cards .card .card_body {
        margin-top: 5px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .seccion_productos .cards .card .card_body p {
          margin-top: 5px; }
        .seccion_productos .cards .card .card_body .flex-row {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-top: 5px;
          /* .btn-comprar:hover {
                        background-color: ;
                        
                    } */ }
          .seccion_productos .cards .card .card_body .flex-row input {
            width: 75px;
            height: 30px;
            border: none;
            border-radius: 5px; }
          .seccion_productos .cards .card .card_body .flex-row .btn-comprar {
            width: 75px;
            height: 30px;
            color: #fff;
            border: none;
            background-color: #90be6d;
            border-radius: 5px; }

.productos_carrito {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .productos_carrito .cards_carrito {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: #fff;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25)); }
    .productos_carrito .cards_carrito .info_producto {
      width: 250px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
      .productos_carrito .cards_carrito .info_producto .foto_carrito {
        width: 50px;
        height: 50px;
        border-radius: 7px; }
        .productos_carrito .cards_carrito .info_producto .foto_carrito .imagen {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px; }
    .productos_carrito .cards_carrito .btn-eliminar {
      width: 75px;
      height: 30px;
      color: #fff;
      border: none;
      background-color: #e63946;
      border-radius: 5px; }

.total {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end; }
  .total .btn-calculo {
    width: 75px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 15px; }

.cuotas {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px; }
  .cuotas input {
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #fff; }
  .cuotas .btn-pagar {
    width: 75px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 15px; }

body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif; }

ul li {
  list-style-type: none; }
  ul li a {
    text-decoration: none;
    color: #90be6d; }

header {
  grid-area: header;
  width: 100%;
  height: 300px;
  color: #fff; }
  header .portada {
    width: auto;
    background: rgba(0, 0, 0, 0.5) url("../img/portada.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken; }
  header nav {
    padding-left: 130px;
    padding-right: 130px; }
    header nav ul {
      width: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      header nav ul a {
        text-decoration: none;
        color: #fff; }
  header .title {
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-family: "Tiro Kannada", serif;
    font-size: 30px; }

main {
  grid-area: main;
  padding-left: 130px;
  padding-right: 130px; }
  main h2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px 0 20px 0; }

footer {
  grid-area: footer;
  background-color: #6B9080; }
